<h1>New Book<%= @author ? " by #{@author.name}" : "" %></h1>
<% if !@author %>
<%= render 'form' %>
<% else %>
<%= render 'author_book_form', author: @author, book: @book %>
<% end %>

<%= link_to 'Back', books_path %>